@model DetalleLaboratorioViewModel

@{
    ViewData["Title"] = "Detalles del Estudio";
}

<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">Detalles del Estudio</h1>
    <hr />

    <div class="card shadow p-4">
        <h4 class="text-secondary mb-4">Información del Estudio</h4>
        <dl class="row">
            <dt class="col-sm-4 text-muted">Documento</dt>
            <dd class="col-sm-8">@Model.RutaArchivo</dd>

            <dt class="col-sm-4 text-muted">Afiliado</dt>
            <dd class="col-sm-8">@Model.AfiliadoNombre</dd>

            <dt class="col-sm-4 text-muted">Prestador Médico</dt>
            <dd class="col-sm-8">@Model.PrestadorNombre</dd>
        </dl>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-outline-primary">
            <i class="bi bi-arrow-left-circle"></i> Volver a la lista
        </a>
    </div>
</div>