@model IEnumerable<DocumentoViewModel>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Médico</th>
                <th>Afiliado</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var laboratorio in Model)
            {
                <tr>
                    <td>
                        <a href="@laboratorio.RutaArchivo" target="_blank">
                            Ver Estudio
                        </a>
                    </td>
                    <td>@laboratorio.MedicoNombre</td> 
                    <td>@laboratorio.AfiliadoNombre</td> 
                    <td>
                       
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay documentos cargados para este médico.</p>
}

