@model MVCGaleno.Models.Turno

@{
    ViewData["Title"] = "Eliminar Turno";
}
<div class="container mt-5">
    <!-- Título -->
    <h1 class="text-center text-danger mb-4">Eliminar Turno</h1>

    <!-- Mensaje de confirmación -->
    <h3 class="text-center text-warning">¿Estás seguro de que deseas eliminar este turno?</h3>
    <p class="text-center text-muted">Esta acción no se puede deshacer.</p>
    <hr />


    <!-- Detalles del prestador medico -->
    <div class="card shadow p-4 mb-4">
        <h4 class="text-primary">Detalles del Turno</h4>
        <dl class="row mt-3">
            <!-- Especialidad -->
            <dt class="col-sm-4 text-secondary">Especialidad</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Especialidad)</dd>

            <!-- Nombre Completo -->
            <dt class="col-sm-4 text-secondary">Fecha del turno</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.fechaCita)</dd>

            <!-- Correo Electrónico -->
            <dt class="col-sm-4 text-secondary">Medico</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.PrestadorMedico.NombreCompleto)</dd>

        </dl>
    </div>


    <!-- Botones de acción -->
    <div class="text-center">
        <form asp-action="Delete" class="d-inline">
            <input type="hidden" asp-for="IdTurno" />
            <button type="submit" class="btn btn-danger btn-sm me-3">
                <i class="bi bi-trash3"></i> Eliminar
            </button>
        </form>
        <a asp-action="Index" class="btn btn-secondary btn-sm">
            <i class="bi bi-arrow-left-circle"></i> Volver a la lista
        </a>
    </div>

</div>
