@model MVCGaleno.Models.PrestadorMedicoCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PrestadorMedico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <div class="form-group">
                    <label asp-for="Especialidad" class="control-label"></label>

                    <select asp-for="Especialidad" class="form-control" asp-items="Html.GetEnumSelectList<Especialidad>()">
                        <option selected="selected" value=""> Please select</option>
                    </select>

                    <span asp-validation-for="Especialidad" class="text-danger"></span>
                </div>
               
            <div class="form-group">
                <label class="control-label">Número de Teléfono</label>
                <div class="d-flex align-items-center">
                    <div class="me-2">
                        <label for="CodigoArea" class="form-label small">Código de Área</label>
                        <input asp-for="CodigoArea" class="form-control" style="width: 100px;" placeholder="XXX" />
                        <span asp-validation-for="CodigoArea" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="Caracteristica" class="form-label small">Caracteristica</label>
                        <input asp-for="Caracteristica" class="form-control" style="width: 150px;" placeholder="XXXX" />
                        <span asp-validation-for="Caracteristica" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="Numero" class="form-label small">Número</label>
                        <input asp-for="Numero" class="form-control" style="width: 150px;" placeholder="XXXX" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">NombreCompleto</label>
                <div class="d-flex align-items-center">
                    <div class="me-2">
                        <label for="Nombre" class="form-label small"> Nombre </label>
                        <input asp-for="Nombre" class="form-control" style="width: 100px;"  />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    
                    <div>
                        <label for="Apellido" class="form-label small">Apellido</label>
                        <input asp-for="Apellido" class="form-control" style="width: 150px;" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MatriculaProfesional" class="control-label"></label>
                <input asp-for="MatriculaProfesional" class="form-control" />
                <span asp-validation-for="MatriculaProfesional" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MailMedico" class="control-label"></label>
                <input asp-for="MailMedico" class="form-control" />
                <span asp-validation-for="MailMedico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">DireccionMedico</label>
                <div class="d-flex align-items-center">
                    <div class="me-2">
                        <label for="Calle" class="form-label small">Calle</label>
                        <input asp-for="Calle" class="form-control" style="width: 150px;" placeholder="Solo letras" onkeypress="return /^[a-zA-Z\s]*$/.test(event.key)" />
                        <span asp-validation-for="Calle" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="NumeroCalle" class="form-label small">NumeroCalle</label>
                        <input asp-for="NumeroCalle" class="form-control" style="width: 100px;" placeholder="XXXX" maxlength="4" onkeypress="return /^\d*$/.test(event.key)" />
                        <span asp-validation-for="NumeroCalle" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="Piso" class="form-label small">Piso</label>
                        <select asp-for="Piso" class="form-control" style="width: 100px;">
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span asp-validation-for="Piso" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="Depto" class="form-label small">Depto</label>
                        <select asp-for="Depto" class="form-control" style="width: 100px;">
                            @foreach (char letter in "ABCDEFGH")
                            {
                                <option value="@letter">@letter</option>
                            }
                        </select>
                        <span asp-validation-for="Depto" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="Localidad" class="form-label small">Localidad</label>
                        <select asp-for="Localidad" class="form-control" style="width: 200px;">
                            <option value="CABA">CABA</option>
                            <option value="Pcia Buenos Aires">Pcia Buenos Aires</option>
                            <option value="Otra">Otra</option>
                        </select>
                        <span asp-validation-for="Localidad" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

