@model MVCGaleno.Models.PrestadorMedicoCreateViewModel

@{
    ViewData["Title"] = "Crear Prestador Medico";
}

<div class="container mt-5">
    <!-- Título principal -->
    <h1 class="text-center text-primary mb-4">Registrar Nuevo Prestador Medico</h1>

    <p class="text-center text-muted">Complete los campos a continuación para agregar un nuevo prestador medico al sistema.</p>
    <hr class="mb-5" />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" class="card shadow p-4">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            

                <!-- Tipo de Especialidad -->
                <div class="form-group mt-3">
                    <label asp-for="Especialidad" class="control-label">Tipo de Especialidad</label>
                    <select asp-for="Especialidad" class="form-control" asp-items="Html.GetEnumSelectList<Especialidad>()">
                        <option value="" disabled selected>Seleccione un tipo de especialidad</option>
                    </select>
                    <span asp-validation-for="Especialidad" class="text-danger"></span>
                </div>
               


                <!-- Teléfono -->
                <div class="form-group mt-3">
                    <label class="control-label">Teléfono</label>
                    <div class="row g-2">
                        <div class="col-md-3">
                            <input asp-for="CodigoArea" class="form-control" placeholder="Área (Ej: 11)" />
                            <span asp-validation-for="CodigoArea" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="Caracteristica" class="form-control" placeholder="Característica" />
                            <span asp-validation-for="Caracteristica" class="text-danger"></span>
                        </div>
                        <div class="col-md-5">
                            <input asp-for="Numero" class="form-control" placeholder="Número" />
                            <span asp-validation-for="Numero" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!-- Nombre Completo -->
                <div class="form-group">
                    <label class="control-label">Nombre Completo</label>
                    <div class="row g-2">
                        <div class="col">
                            <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <input asp-for="Apellido" class="form-control" placeholder="Apellido" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!-- Matricula -->
                <div class="form-group mt-3">
                    <label asp-for="MatriculaProfesional" class="control-label">Matricula Profesional</label>
                    <input asp-for="MatriculaProfesional" class="form-control" placeholder="Ingrese la Matricula Profesional" />
                    <span asp-validation-for="MatriculaProfesional" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="form-group mt-3">
                    <label asp-for="MailMedico" class="control-label">Correo Electrónico</label>
                    <input asp-for="MailMedico" class="form-control" placeholder="Ingrese el correo electrónico" />
                    <span asp-validation-for="MailMedico" class="text-danger"></span>
                </div>


                <!-- Dirección Medico -->
                <div class="form-group mt-3">
                    <label class="control-label">Dirección del Médico</label>
                    <div class="row g-2">
                        <div class="col-md-3">
                            <label for="Calle" class="form-label">Calle</label>
                            <input asp-for="Calle" class="form-control" placeholder="Solo letras" onkeypress="return /^[a-zA-Z\s]*$/.test(event.key)" />
                            <span asp-validation-for="Calle" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label for="NumeroCalle" class="form-label">Número</label>
                            <input asp-for="NumeroCalle" class="form-control" placeholder="XXXX" maxlength="4" onkeypress="return /^\d*$/.test(event.key)" />
                            <span asp-validation-for="NumeroCalle" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label for="Piso" class="form-label">Piso</label>
                            <select asp-for="Piso" class="form-control">
                                @for (int i = 1; i <= 20; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <span asp-validation-for="Piso" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label for="Depto" class="form-label">Depto</label>
                            <select asp-for="Depto" class="form-control">
                                @foreach (char letter in "ABCDEFGHIJKL")
                                {
                                    <option value="@letter">@letter</option>
                                }
                            </select>
                            <span asp-validation-for="Depto" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label for="Localidad" class="form-label">Localidad</label>
                            <select asp-for="Localidad" class="form-control">
                                <option value="CABA">CABA</option>
                                <option value="Pcia Buenos Aires">Pcia Buenos Aires</option>
                                <option value="Otra">Otra</option>
                            </select>
                            <span asp-validation-for="Localidad" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!-- Botón de Envío -->
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-sm px-3">
                        <i class="bi bi-person-plus-fill"></i> Registrar Prestador
                    </button>
                </div>

                <!-- Enlace para Volver -->
                <div class="text-center mt-4">
                    <a asp-action="Index" class="btn btn-outline-secondary btn-sm px-3">
                        <i class="bi bi-arrow-left-circle"></i> Volver a la lista
                    </a>
                </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

