@model MVCGaleno.Models.PrestadorMedicoCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <!-- Título principal -->
    <h1 class="text-center text-primary mb-4">Editar Prestador Médico</h1>
    <hr />

    <!-- Formulario -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger d-none" role="alert"></div>
                    <input type="hidden" asp-for="IdPrestador" />

                    <!-- Tipo de Especialidad -->
                    <div class="form-group mb-3">
                        <label asp-for="Especialidad" class="form-label fw-bold">Tipo de Plan</label>
                        <select asp-for="Especialidad" class="form-control" asp-items="Html.GetEnumSelectList<Especialidad>()">
                            <option selected="selected" value="">Seleccione un tipo de plan</option>
                        </select>
                        <span asp-validation-for="Especialidad" class="text-danger"></span>
                    </div>

                    <!-- Nombre y Apellido -->
                    <div class="form-group mb-3">
                        <label class="form-label fw-bold">Nombre Completo</label>
                        <div class="row">
                            <div class="col">
                                <label for="Nombre" class="form-label small">Nombre</label>
                                <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label for="Apellido" class="form-label small">Apellido</label>
                                <input asp-for="Apellido" class="form-control" placeholder="Ingrese el apellido" />
                                <span asp-validation-for="Apellido" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Matricula -->
                    <div class="form-group mb-3">
                        <label asp-for="MatriculaProfesional" class="form-label fw-bold">Matricula</label>
                        <input asp-for="MatriculaProfesional" class="form-control" placeholder="Ingrese la Matricula" />
                        <span asp-validation-for="MatriculaProfesional" class="text-danger"></span>
                    </div>

                    <!-- Correo Electrónico -->
                    <div class="form-group mb-3">
                        <label asp-for="MailMedico" class="form-label fw-bold">Correo Electrónico</label>
                        <input asp-for="MailMedico" class="form-control" placeholder="Ingrese el correo electrónico" />
                        <span asp-validation-for="MailMedico" class="text-danger"></span>
                    </div>

                    <!-- Teléfono -->
                    <div class="form-group mb-3">
                        <label class="form-label fw-bold">Número de Teléfono</label>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="CodigoArea" class="form-label small">Código de Área</label>
                                <input asp-for="CodigoArea" class="form-control" placeholder="XXX" />
                                <span asp-validation-for="CodigoArea" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label for="Caracteristica" class="form-label small">Característica</label>
                                <input asp-for="Caracteristica" class="form-control" placeholder="XXXX" />
                                <span asp-validation-for="Caracteristica" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label for="Numero" class="form-label small">Número</label>
                                <input asp-for="Numero" class="form-control" placeholder="XXXX" />
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Direccion -->
                    <div class="form-group mb-3">
                        <label class="form-label fw-bold">Dirección</label>
                        <div class="row">
                            <div class="col">
                                <label for="Calle" class="form-label small">Calle</label>
                                <input asp-for="Calle" class="form-control" placeholder="Solo letras" onkeypress="return /^[a-zA-Z\s]*$/.test(event.key)" />
                                <span asp-validation-for="Calle" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label for="NumeroCalle" class="form-label small">Número</label>
                                <input asp-for="NumeroCalle" class="form-control" placeholder="XXXX" maxlength="4" onkeypress="return /^\d*$/.test(event.key)" />
                                <span asp-validation-for="NumeroCalle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <label for="Piso" class="form-label small">Piso</label>
                                <select asp-for="Piso" class="form-control">
                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                                <span asp-validation-for="Piso" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label for="Depto" class="form-label small">Depto</label>
                                <select asp-for="Depto" class="form-control">
                                    @foreach (char letter in "ABCDEFGHIJKL")
                                    {
                                        <option value="@letter">@letter</option>
                                    }
                                </select>
                                <span asp-validation-for="Depto" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label for="Localidad" class="form-label small">Localidad</label>
                                <select asp-for="Localidad" class="form-control">
                                    <option value="CABA">CABA</option>
                                    <option value="Pcia Buenos Aires">Pcia Buenos Aires</option>
                                    <option value="Otra">Otra</option>
                                </select>
                                <span asp-validation-for="Localidad" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="form-group text-center mt-4">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-sm me-3" />
                        <a asp-action="Index" class="btn btn-light btn-sm">Volver a la lista</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}